@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pinar-VF";
  src: url("/fonts/Pinar-VF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Pinar-VF", sans-serif;
  direction: rtl ;
  
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #facc15;
  opacity: 0.5;
  border-radius: 2px;
  transform: rotate(0deg);
  transition: transform 200ms ease, opacity 200ms ease;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  transform: rotate(45deg);
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: white !important;
}