@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pinar-VF";
  src: url("/fonts/Pinar-VF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Pinar-VF", sans-serif;
  direction: rtl ;
  
}
